	<ion-view view-title=" KI DAN KD" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-ki" class=" page-ki">
		<div class="petunjuk-panel">
	<div class="igh">
		<center><img src="data/images/content/ki-kd.png" alt="" width="90%"/></center>
    </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <h3>Kompotensi Dasar</h3>
    <div class="item item-text-wrap">
    	<p style="text-align: justify;">Menjelaskan dan menentukan volume bangun ruang dengan menggunakan satuan volume (seperti kubus satuan ) serta hubungan pangkat tiga dengan akar pangkat tiga</p>
    </div>
    <div class="item item-text-wrap">
    	<p style="text-align: justify;">Menyelesaikan masalah yang berkaitan dengan  volume bangun ruang dengan menggunakan satuan volume (seperti kubus satuan) melibatkan pangkat tiga dan akar pangkat tiga.</p>
    </div><br><br>
    <h3>Indikator</h3>
    <div class="item item-text-wrap">
    	<p style="text-align: justify;">Menjelaskan volume bangun ruang (C1)</p>
        <p style="text-align: justify;">Menemukan konsep volume bangun ruang (C3)</p>
        <p style="text-align: justify;">Menentukan konsep volume bangun ruang (C3)</p>
        <p style="text-align: justify;">Memecahkan masalah yang berkaitan dengan volume bangun ruang ( C4)</p>
        <p style="text-align: justify;">Menyelesaikan masalah yang berkaitan dengan volume bangun ruang (P3)</p>
    </div>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
