	<ion-view view-title=" QUIZ" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-quiz" class=" page-quiz">
			<div class="materi-panel">
          <div class="igh">
			<center><img src="data/images/content/head-quiz.png" alt="" width="90%"/></center>
          </div>
      	  <div class="ar-menu">
            <div class="tb-menu">
              <center><a ng-href="#/bangun_ruang/quiz_kubus"><img src="data/images/content/bt-kubus.png" alt="" width="90%"/></a></center>
            </div>
            <div class="tb-menu">
              <center><a ng-href="#/bangun_ruang/quiz_balok"><img src="data/images/content/bt-blok.png" alt="" width="90%"/></a></center>
            </div>
      	  </div>
	</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
