	<ion-view view-title=" HOME" hide-nav-bar="true" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-home" class=" page-home">
			<div class="home-panel">
          <div class="igh">
			<center><img src="data/images/content/home-bg.png" alt="" width="90%"/></center>
          </div>
          <div class="bt-home">
            <center><a ng-href="#/bangun_ruang/menu"><img src="data/images/content/bt-start.png" alt="" width="90%"/></a></center>
          </div>
	</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
