	<ion-view view-title=" Profile Pengembang" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-profile" class=" page-profile">
		<div class="petunjuk-panel">
	<div class="igh">
		<center><img src="data/images/content/head-prof.png" alt="" width="90%"/></center>
    </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <center><strong>Marisha herwanti</strong></center>
    <div class="card">
      <div class="item item-header item-calm text-center">
        TTL
	  </div>
      <div class="item item-text-wrap">
        <center><p>Kepahiang, 22 Maret 1999</p></center>
      </div>
    </div>
    
    <div class="card">
      <div class="item item-header item-calm text-center">
        Email
	  </div>
      <div class="item item-text-wrap">
        <center><p>marisakepahiang@gmail.com</p></center>
      </div>
    </div>
    
    <div class="card">
      <div class="item item-header item-calm text-center">
        SD
	  </div>
      <div class="item item-text-wrap">
        <center><p>SD N 03 Kepahiang (2005-2011)</p></center>
      </div>
    </div>
    
    <div class="card">
      <div class="item item-header item-calm text-center">
        SMP
	  </div>
      <div class="item item-text-wrap">
        <center><p>SMP 03 Kepahiang (2011-2014)</p></center>
      </div>
    </div>
    
    <div class="card">
      <div class="item item-header item-calm text-center">
        SMA
	  </div>
      <div class="item item-text-wrap">
        <center><p>MAN 2 Kepahiang (2014-2017)</p></center>
      </div>
    </div>
    
    <div class="card">
      <div class="item item-header item-calm text-center">
        S1
	  </div>
      <div class="item item-text-wrap">
        <center><p>Pendidikan Guru Sekolah Dasar Universitas Bengkulu (2017-2021)</p></center>
      </div>
    </div>
    
    
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
