	<ion-view view-title=" MATERI KUBUS" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-kubus" class=" page-kubus">
		<div class="petunjuk-panel">
	<div class="igh">
		<center><img src="data/images/content/kubus.png" alt="" width="90%"/></center>
    </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <h3>Pengertian Kubus</h3>
    <div class="item item-text-wrap">
      <p style="text-align: justify;">Perhatikan gambar bangun ruang berikut</p>
      	<center><img src="data/images/content/210306-223424.png" alt="" width="60%"/></center><br>
      <p style="text-align: justify;">Bangun ruang tersebut merupakan bangun ruang kubus. Kubus adalah bangun ruang yang dibatasi oleh enam sisi yang berbentuk persegi.<br><br>Dari gambar di atas, dapatkah kalian menyebutkan ciri-ciri kubus?<br><br>Kubus mempunyai enam sisi yang berukuran sama (kongruen), mempunyai delapan titik sudut, dan dua belas rusuk yang sama panjang.</p>
    </div>
    <h3>Kubus dalam Kehidupan Sehari-hari</h3>
    <div class="item item-text-wrap">
      <p style="text-align: justify;">Benda-benda yang menyerupai kubus banyak kita jumpai. Pernahkah kalian bermain monopoli atau ular tangga?<br><br>Dalam permainan tersebut kita menggunakan dadu yang memiliki bentuk menyerupai kubus.<br><br>Dadu memiliki enam sisi yang setiap sisinya memiliki mata dadu 1 – 6. Selanjutnya kita akan membahas mengenai volume bangun ruang kubus dan balok</p>
      <p style="text-align: justify;">Pernahkah kalian melihat benda ini?<br>Ember ini akan kita isi dengan air menggunakan alat bantu gayung</p>	
      <center><img src="data/images/content/materi-1.png" alt="" width="80%"/></center><br>
      <p style="text-align: justify;">Maka volume ember tersebut = 3 gayung<br>Jadi volume itu adalah isi dalam sebuah wadah. </p>
      <p style="text-align: justify;">Sekarang kita sudah mengetahui volume bangun ruang<br>Sekarang kita akan<br>menentukan volume dengan menggunakan kubus satuan</p>
      <p style="text-align: justify;">Apa itu kubus satuan?</p>
      <div class="item item-text-wrap">
        <p style="text-align: justify;">Kubus satuan dapat menggunakan isi dari bangun balok atau kubus</p>
        <p style="text-align: justify;">Banyaknya kubus satuan yang didapat diisikan  ke balok atau kubus adalah isi dari balok atau kubus tersebut dengan satuannya adalah  kubus satuan.</p>
      </div>
      <p style="text-align: justify;">Contoh kubus satuan:</p>
      <center><img src="data/images/content/materi-2.png" alt="" width="90%"/></center><br>
      <p style="text-align: justify;">Sebagai contoh bangun ruang kubus<br>Kita akan mengisi bangun ruang kubus transparan ini dengan kubus satuan</p>
      <center><img src="data/images/content/210307-112401.png" alt="" width="90%"/></center><br>
      <p style="text-align: justify;">Akan diperoleh volumenya adalah 27 kubus satuan. <br>Satuan apa yang dimaksud ? satuan cm, yaitu kubus dengan ukuruan rusuknya 1 cm <br>Jadi apabila ada sebuah kubus dengan rusuk 3 cm, maka volumenya adalah 27 cm 3 </p>
      <p style="text-align: justify;">Sekarang bagaimana kalau kubus satuannya banyak atau rusuknya banyak bagai mana cara kita menghitungnya?</p>
   	  <center><img src="data/images/content/210307-120542.png" alt="" width="100%"/></center><br>
      <p style="text-align: justify;">Jadi jika kita lihat pada kubus yang rusuknya 3 cm volume bisa langsung kita hitung yaitu:</p>
      <p style="text-align: justify;">3cm x 3cm x 3cm = <strong>27 cm3</strong></p>
      <p style="text-align: justify;">Jadi jika kita menemukan sebuah bangun yang rusuknya panjang atau kubus satuannya banyak, kita tidak akan bingun, kita cukup menghitungnya dan mengalikan rusuknya sebanyak 3x, seperti contoh bangun berikut ini:</p>
      <center><img src="data/images/content/materi-3.png" alt="" width="60%"/></center><br>
   	  <p style="text-align: justify;">8x8x8 = 512 kubus satuan</p>
      <p style="text-align: justify;">Jadi volume kubusnya adalah 8cm x 8cm x 8cm = 512 <strong>cm3</strong></p>
    </div>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
