	<ion-view view-title=" MENU" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-menu" class=" page-menu">
			<div class="menu-panel">
          <div class="igh">
			<center><img src="data/images/content/head-menu.png" alt="" width="90%"/></center>
          </div>
          <div class="tb-menu">
            <div class="ar-menu">
            	<center><a ng-href="#/bangun_ruang/petunjuk"><img src="data/images/content/bt-ptj.png" alt="" width="90%"/></a></center>
          	</div>
      	  <div class="ar-menu">
            <div class="tb-menu">
              <center><a ng-href="#/bangun_ruang/ki"><img src="data/images/content/bt-ki.png" alt="" width="90%"/></a></center>
            </div>
            <div class="tb-menu">
              <center><a ng-href="#/bangun_ruang/materi"><img src="data/images/content/bt-mat.png" alt="" width="90%"/></a></center>
            </div>
            <div class="tb-menu">
              <center><a ng-href="#/bangun_ruang/quiz"><img src="data/images/content/bt-qz.png" alt="" width="90%"/></a></center>
            </div>
            <div class="tb-menu">
              <center><a ng-href="#/bangun_ruang/menu_one"><img src="data/images/content/bt-ref.png" alt="" width="90%"/></a></center>
            </div>
            <div class="tb-menu">
              <center><a ng-href="#/bangun_ruang/menu_one"><img src="data/images/content/bt-profile.png" alt="" width="90%"/></a></center>
            </div>
      	  </div>
	</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
