	<ion-view view-title=" Referensi" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-referensi" class=" page-referensi">
		<div class="petunjuk-panel">
	<div class="igh">
		<center><img src="data/images/content/head-ref.png" alt="" width="90%"/></center>
    </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <div class="item item-text-wrap">
    	<p style="text-align: justify;">https://youtube.com</p>
    </div>
    <div class="item item-text-wrap">
    	<p style="text-align: justify;">https://google.com</p>
    </div>
    <div class="item item-text-wrap">
    	<p style="text-align: justify;">https://ioniclab.com</p>
    </div>

  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
