	<ion-view view-title=" petunjuk" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-petunjuk" class=" page-petunjuk">
		<div class="petunjuk-panel">
	<div class="igh">
		<center><img src="data/images/content/head-petunjuk.png" alt="" width="90%"/></center>
    </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <h3>Petunjuk Penggunaan</h3>
    <p style="text-align: justify;">Selamat datang di aplikasi Volume Bangun Ruang. Aplikasi ini merupakan sarana dalam pembelajaran. berikut petunjuk pemakaian aplikasi Volume Bangun Ruang bagi pengajar dan peserta didik agar fungsi aplikasi dapat dimanfaatkan secara maksimal.</p>
    <h3>A. Petunjuk bagi peserta didik</h3>
    <div class="item item-text-wrap">
      <p style="text-align: justify;">Bacalah dan pahami materi yang ada pada aplikasi, bila ada materi yang belum jelas, peserta didik dapat mendiskusikannya bersama pengajar</p>
    </div>
    <div class="item item-text-wrap">
      <p style="text-align: justify;">Kerjakan setiap tugas dan diskusikan materi-materi yang dibahas dalam kegiatan belajar.</p>
    </div>
    <div class="item item-text-wrap">
      <p style="text-align: justify;">Jika belum menguasai materi yang diharapkan, ulangi lagi kegiatan belajar sebelumnya atau bertanyala kepada pengajar.</p>
    </div><br>
    <h3>B.	Petunjuk bagi pengajar</h3>
    <div class="item item-text-wrap">
      <p style="text-align: justify;">Membimbing peserta didik dalam merencanakan proses belajar</p>
    </div>
    <div class="item item-text-wrap">
      <p style="text-align: justify;">Membimbing peserta didik dan memahami konsep, analisa dan mendiskusikan pertanyaan atau materi yang belum jelas pada saat proses belajar.</p>
    </div><br>
    <h3>Petunjuk tombol</h3>
    <div class="item item-text-wrap">
      <p style="text-align: justify;">Tombol close berfungsi untuk keluar dari media<br>Tombol home berfungsi untuk menuju menu utama<br>Tombol volume berfungsi untuk menghidupkan backsound<br>Tombol back berfungsi untuk kembali ke menu sebelumnya<br>Tombol volume off berfungsi untuk sound mati</p>
    </div>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
