	<ion-view view-title=" MATERI BALOK" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-balok" class=" page-balok">
		<div class="petunjuk-panel">
	<div class="igh">
		<center><img src="data/images/content/balok.png" alt="" width="90%"/></center>
    </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <h3>Pengertian Balok</h3>
    <div class="item item-text-wrap">
      <p style="text-align: justify;">Balok merupakan bangun ruang yang dibatasi oleh tiga pasang sisi sejajar yang berbentuk persegi atau persegi panjang dengan setidaknya terdapat satu pasang sisi sejajar yang memiliki ukuran yang berbeda.<br>Beberapa informasi mengenai balok yaitu:</p>
      	
      </div>
    <div class="item item-text-wrap">
      <p style="text-align: justify;">Mempunyai 6 sisi, sisi yang berhadapan memiliki bentuk dan ukuran yang sama.</p>
      <p style="text-align: justify;">Mempunyai 8 titik sudut.</p>
      <p style="text-align: justify;">Mempunyai 12 rusuk.</p>
      <p style="text-align: justify;">Berikutnya akan dijelaskan mengenai penerapan balok dalam kehidupan sehari-hari.</p>
    </div><br>
    <h3>Balok dalam Kehidupan Sehari-hari</h3>
    <p style="text-align: justify;">Konsep balok banyak diterapkan dalam kehidupan sehari-hari.<br><br>Banyak sekali benda-benda yang berbentuk menyerupai balok seperti kotak pensil, lemari, kulkas, kemasan produk, dan lainnya</p>
    <p style="text-align: justify;">Sekarang kita akan menghitung volume bangun ruang balok Bagaimana cara menghitungnya?</p>
    <center><img src="data/images/content/210307-122611.png" alt="" width="60%"/></center><br>
    <p style="text-align: justify;">Caranya sama dengan kubus untuk menentukan volume, hanya saja pada balok sebutannya panjang, lebar dan tinggi.<br><br>Kenapa berbeda?<br><br>Karena pada balok panjangnya belum tentu sama.</p>
    <p style="text-align: justify;"><strong>Contoh:</strong></p>
    <center><img src="data/images/content/210307-122830.png" alt="" width="60%"/></center><br>
    <p style="text-align: justify;">Total jumlah kubus satuan<br><br>Panjang 5 kubus satuan x 3 lebar kubus satuan xtinggi 2 kubus satuan = 30kubus satuan<br><br>Jadi rumus volume pada balok adalah </p>
    <p style="text-align: justify;"><center><strong>V= P x l x t</strong></center></p>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
